body {
    height: 100%;
    text-align: center;
    color: darkslategrey;
    font-family: "Open sans", sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
}

.html-preview, .text-preview {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    
    padding: 0;
    z-index: 10000;
    
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    font-size: 0px;
    
    transition: all 0.8s ease 0s;
}

.html-preview svg, .text-preview svg {
    width: 60%;
    height: 60%;

    position: relative;
    fill: white;

    transition: 0.8s;
}

.html-preview p, .text-preview p {
    position: relative;
    bottom: 40%;
}

.html-preview p span, .text-preview p span {
    position: absolute;
    transform-origin: 0 100px;
}

.html-preview:hover, .text-preview:hover {
    width: 160px;
    height: 160px;
    border-radius: 80px;

    font-size: 16px;
    
    animation-duration: 0.8s;
    animation-name: rotate-starting-text;
}

.html-preview:active, .text-preview:active {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-size: 12px;
}

.html-preview:active p span, .text-preview:active p span {
    animation-duration: 0.8s;
    animation-name: rotate-text;

    transform-origin: 0 80px;
}

.html-preview:not(:active) p span, .text-preview:not(:active) p span {
    animation-duration: 0.8s;
    animation-name: rotate-text-back; 
}

@keyframes rotate-text {
    0% {
        transform-origin: 0 100px;
    }

    100% {
        transform-origin: 0 80px;
    }
}

@keyframes rotate-text-back {
    0% {
        transform-origin: 0 80px;
    }
    
    100% {
        transform-origin: 0 100px;
    }
}

/* Navbar styling -------------------------------------------------------------------- */
.navbar {
    height: 4rem;
    width: 100%;
    
    position: fixed;
    z-index: 1000;
    
    background-color: transparent;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    display: flex;
} 


.navbar-item {
    padding: 1rem;
    margin: 1rem;
}

#navbar-first a svg{ /* do this better */
    width: 48px;
    height: 48px;
}

#navbar-second {
    margin-left: auto;
}

.navbar-link {
    display: flex;
    flex-direction: column;
    
    height: 4rem;
    width: auto;
    align-items: center;
    
    font-size: larger;
    text-decoration: none;
    color: gray;
}

.navbar-link-icon {
    fill: rgb(196, 194, 194);

    stroke: #00000034;
    stroke-width: .1px;

    transition: 0.5s;
}

.navbar-link-back-light {
    border-radius: 50%;
    box-shadow:0 0 60px 30px black;
    position: relative;
    z-index: -10;
    top: 10px;
    transition: 0.55s;
}

.navbar-link-back-light:not(#navbar-first .navbar-link-back-light) {
    z-index: -20;
}

#navbar-first .navbar-link-back-light {
    top: 20px;
}

.navbar-link-text {
    opacity: 0;
    height: 4rem;
    position: absolute;
    top: 5rem;
    transition: 0.55s;
}

.navbar-link:hover > * {
    opacity: 1;
    color: rgb(248, 132, 151);
    fill: rgb(248, 132, 151);
}

.navbar-link:hover .navbar-link-back-light {
    box-shadow:0 0 40px 15px rgb(248, 132, 151);
}

/* Scrollbar width and coloring ------------------------------------------------------ */
body::-webkit-scrollbar {
    width: 0.2rem;
}

body::-webkit-scrollbar-thumb {
    background: rgb(242, 80, 107);
}

body::-webkit-scrollbar-track {
    background: black;
}

/* Links, highlights and underlining ------------------------------------------------- */
a {
    color: rgb(105, 197, 247);
}

mark {
    background-color: rgb(203, 232, 248);
}

.underline-less{
    text-decoration: none;
}

/* Tables and table elements --------------------------------------------------------- */
table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    
    overflow-x: auto;
    margin: 25 px 0;
    min-width: 2rem;
    max-width: 4rem;
}

caption {
    padding: 10px;
}

th, td, tr {
    border: 2px solid black;
}

@media screen and (min-width: 650px) {
    th, td {
        padding: 0.75rem;
        min-width: 1rem;
    }
 }

th {
    background-color: rgb(193, 193, 193);
}

tr {
    background-color: rgb(224, 223, 223);
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

thead > * {
    border: 3px solid black;
}

/* Images ---------------------------------------------------------------------------- */
img {
    max-width: 20%;
}

/* Lists (ordered and unordered) ----------------------------------------------------- */
ol ol {
    list-style-type: lower-greek;
}

ul {
    list-style-type: square;
}

ul ul{
    list-style: circle;
}

#ordered, #unordered {
    padding-left: 40%;
    padding-right: 40%;
}

/* Background images ----------------------------------------------------------------- */
#space-img {
    background-image: url("images/space.jpg");
    top: -8rem;
}

#capy-img {
    background-image: url("images/capybara.jpg");
}

#mountain-img {
    background-image: url("images/mountain.jpg");
}

#fish-img {
    background-image: url("images/fish.jpg");
}

#canyon-img {
    background-image: url("images/canyon.jpg");
}

#jellyfish-img {
    background-image: url("images/jellyfish.jpg");
}

#mangroves-img {
    background-image: url("images/mangroves.jpg");
}

#cabin-img {
    background-image: url("images/cabin.jpg");
}

#desert-img {
    background-image: url("images/desert.jpg");
}

/* Main page divs, scrolling background image formatting ----------------------------- */
.scrolling {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    position: relative;
    min-height: 200px;
    opacity: 97%;
}

.scrolling h1 {
    text-align: center;
    padding: 35% 0;
    margin: 0;
    color: aliceblue;    
}

.mid-scroll {
    padding: 10% 0;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.mid-scroll-sub {
    padding: 1% 0;
    width: 100%;
    padding: 0;
    display: flex;
    
    justify-content: space-between;
    transition: 1s;
}

/* Mouse trailer, icons on top and on-hover behavior --------------------------------- */
#mouse-trailer {
    height: 20px;
    width: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    
    z-index: 10000;
    
    background-color: black;
    border-radius: 20px;
    opacity: 0;

    pointer-events: none;
    transition: opacity 500ms ease;
}

#trailer-icon {
    color: white;
    font-size: 60%;
    text-align: center;
    position: relative;
    top: -9%;
}