body {
    height: 100%;
    text-align: center;
    color: darkslategrey;
    font-size: large;
    margin: 0;
}

mark {
    background-color: rgb(203, 232, 248);
}

a {
    color: rgb(105, 197, 247);
}

.underline-less{
    text-decoration: none;
}

img {
    max-width: 20%;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    
    overflow-x: auto;
    margin: 25 px 0;
    min-width: 300px;
    max-width: 400px;
}

caption {
    padding: 10px;
}

th, td, tr {
    border: 2px solid black;
}

th, td {
    padding: 30px;
    min-width: 150px;
}

th {
    background-color: rgb(193, 193, 193);
}

tr {
    background-color: rgb(224, 223, 223);
}

thead > * {
    border: 3px solid black;
}

ol ol {
    list-style-type: lower-greek;
}

ul {
    list-style-type: square;
}

ul ul{
    list-style: circle;
}

#space-img {
    background-image: url("images/space.jpg");
}

#capy-img {
    background-image: url("images/capybara.jpg");
}

#canyon-img {
    background-image: url("images/canyon.jpg");
}

#mangroves-img {
    background-image: url("images/mangroves.jpg");
}

#jellyfish-img {
    background-image: url("images/jellyfish.jpg");
}

#desert-img {
    background-image: url("images/desert.jpg");
}

#cabin-img {
    background-image: url("images/cabin.jpg");
}

#mountain-img {
    background-image: url("images/mountain.jpg");
}

#fish-img {
    background-image: url("images/fish.jpg");
}

#space-img h1 {
    padding-top: 25%;
}

#trailer-icon {
    color: white;
    font-size: 60%;
    text-align: center;
    position: relative;
    top: -9%;
}

.scrolling h1 {
    text-align: center;
    padding: 35% 0;
    margin: 0;
    color: aliceblue;    
}

.scrolling {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    position: relative;
    min-height: 200px;
    opacity: 97%;
}

#ordered, #unordered {
    padding-left: 40%;
    padding-right: 40%;
}

.mid-scroll {
    padding: 10% 0;
}

#mouse-trailer {
    height: 20px;
    width: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    
    z-index: 10000;
    
    background-color: black;
    border-radius: 20px;
    opacity: 0;

    pointer-events: none;
    transition: opacity 500ms ease;
}

body:hover > #mouse-trailer {
    opacity: 1;
}